.collapsePanel[b-jyww2i6ojk] {
    outline: none;
}

.collapsePanel[disabled][b-jyww2i6ojk] {
    opacity: 0.7;
    pointer-events: none;
}

.collapseHeader[b-jyww2i6ojk] {
    outline: none;
    width: 100%;
    height: auto;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 3px;
    display: flex;
    box-shadow: 0 1px 2px #aaa;
}

    .collapseHeader.animate[b-jyww2i6ojk] {
        -webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
        transition: background-color 0.5s;
    }

.collapseContent[b-jyww2i6ojk] {
    outline: none;
    display: block;
}

    .collapseContent.animate[b-jyww2i6ojk] {
        -webkit-transition: opacity 1s, height 0.4s; /* For Safari 3.1 to 6.0 */
        transition: opacity 1s, height 0.4s;
    }
