dl dt[b-7niww3qly1] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

dl dd[b-7niww3qly1] {
    display: inline-block;
    margin: 0px 10px;
    padding-bottom: 0;
    vertical-align: middle;
}

dl dt.dtactive[b-7niww3qly1] {
    background: #ffb339;
}

dl dt.dtpwned[b-7niww3qly1] {
    background: #4bbb4b;
}

dl dt.dtunrelated[b-7niww3qly1] {
    background: #ff7b7b;
}

dl dt.dtcome[b-7niww3qly1] {
    background: #7ea0ff;
}

dl dt.dtinactive[b-7niww3qly1] {
    background: rgb(230, 230, 230);
}
