@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@using jVision.Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@using jVision.Shared.Models
@inject CustomStateProvider authStateProvider
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <div class="main">
                <div class="top-row">
                    <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">@context.User.Identity.Name Logout</button>
                </div>
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <Authorizing>
        <style>
            body {background-color:black}
        </style>
        <h1 style="color:white">J V I S</h1>
        <img src="https://i.imgur.com/WfaJ2j2.gif" />
    </Authorizing>
</AuthorizeView>
    @code {
        [CascadingParameter]
        Task<AuthenticationState> AuthenticationState { get; set; }
        protected override async Task OnParametersSetAsync()
        {
            if (!(await AuthenticationState).User.Identity.IsAuthenticated)
            {
                navigationManager.NavigateTo("/login");
            }
        }

        private async Task LogoutClick()
        {
            await authStateProvider.Logout();
            navigationManager.NavigateTo("/login");
        }
    }
